---
import AboutTimeline from "@/components/react/AboutTimeline";
import ProfileImage from "@/components/react/ProfileImage";
import YouTubeLink from "@/components/react/YouTubeLink";
import Layout from "@/layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  published={true}
>
  <ProfileImage client:load />
  <p>
    Hello! I'm Kelsie Murphy. I have been working for BJSS as a software
    engineer since June 2023. I enjoy designing and building software with a
    focus on user experience.
  </p>
  <h3>Projects</h3>
  <p>
    I absolutely love building projects, which you can see on my <a
      target="_blank"
      href="https://github.com/kelsiesmurphy">GitHub</a
    >, or the <a href="/">case studies I have on my website</a>. These projects
    allow me to experiment with different technologies in real scenarios, which
    is my preferred way of learning.
  </p>
  <h3>Talks</h3>
  <p>
    I regularly attend networking events in Glasgow, particularly ones with a
    focus on frontend development such as <a
      target="_blank"
      href="https://www.glasgowjs.com/">GlasgowJS</a
    >, and ones that relate to sustainability, such as <a
      target="_blank"
      href="https://small99.co.uk/people-planet-pint-meetup/"
      >People Planet Pint</a
    >. I have recently done talks at both, which you can check out below if you
    feel like it!
  </p>
  <div class="flex gap-4 flex-wrap">
    <YouTubeLink
      client:load
      title="People, Planet, Pint"
      image="/about/ppp-edinburgh.jpg"
      link="https://www.youtube.com/live/ECRr05TID58?si=Refv5htYSn7e6rA7&t=2399"
    />
    <YouTubeLink
      client:load
      title="GlasgowJS"
      image="/about/glasgowjs.jpg"
      link="https://www.youtube.com/live/F1OC1KssCv4?si=8rM4R9oI9ENAkfdd&t=3266"
    />
  </div>

  <AboutTimeline client:load />
</Layout>
