---
import BaseHead from "../components/BaseHead.astro";
import EarthCanvas from "../components/react-earth/Earth";
import Projects from "../components/react-earth/Projects";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<script>
  import Lenis from "lenis";

  const lenis = new Lenis({ lerp: 0.9 });

  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-zinc-950">
    <!-- <div
      class="bg-[url('/assets/2k_stars_milky_way.jpg')] bg-slate-950 bg-center bg-cover w-full h-full fixed top-0 left-0 z-0"
    >
    </div> -->
    <section class="relative z-20 h-[100vh] flex justify-center items-center">
      <h1 class="text-white">Kelsie Murphy</h1>
    </section>
    <section class="relative z-10 h-[100vh] flex items-center justify-center">
      <EarthCanvas client:only />
      <Projects client:load/>
    </section>
    <section class="relative z-10 h-[100vh]"></section>
  </body>
</html>
