---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="flex gap-4 text-white justify-between p-4">
    <p>
      <a
        href="/"
        class="font-bold text-inherit hover:text-zinc-500 uppercase text-lg"
        >{SITE_TITLE}</a>
    </p>
    <div class="flex gap-12">
      <div class="flex gap-4">
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
      <div class="flex gap-4">
        <a
          href="https://www.linkedin.com/in/kelsiesmurphy/"
          class="text-inherit hover:text-zinc-500"
          target="_blank"
        >
          <span class="sr-only">Follow Kelsie Murphy on LinkedIn</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path
              d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
            ></path><rect width="4" height="12" x="2" y="9"></rect><circle
              cx="4"
              cy="4"
              r="2"></circle></svg
          >
        </a>
        <a
          href="https://x.com/kelsiesmurphy"
          class="text-inherit hover:text-zinc-500"
          target="_blank"
        >
          <span class="sr-only"
            >Follow Kelsie Murphy on X (Previously Twitter)</span
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polygon class="st0" points="21.3,21.1 9.9,2.9 2.7,2.9 14.1,21.1 "
            ></polygon>
            <line class="st0" x1="2.7" y1="21.1" x2="9.9" y2="14.5"></line>
            <line class="st0" x1="14.1" y1="9.5" x2="21.3" y2="2.9"></line>
          </svg>
        </a>
      </div>
    </div>
  </nav>
</header>
