---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/react/Navigation";

type Props = CollectionEntry<"project">["data"];

const { title, description, showGallery } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />
  </head>

  <body>
    <Navigation client:load />
    <main class="flex justify-center py-8 px-4 md:py-24">
      <article class="flex-1 prose dark:prose-invert">
        <div>
          <h1>{title}</h1>
          <hr />
        </div>
        <slot />
      </article>
    </main>
  </body>
</html>
